@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --title: 26px;
  --subtitle: 20px;
  --content: 18px;
  --smallContent: 16px;
}

body {
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  font-family: 'Poppins', sans-serif !important;
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
html a,
html p,
html li,
input,
textarea,
span,
div,
html,
body,
html a {
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.ant-upload {
  width: 100% !important;
  height: 100% !important;
}

textarea::-webkit-resizer {
  display: none;
}

html ul {
  -webkit-padding-start: 0px;
  list-style: none;
  margin-bottom: 0;
}

.scrollbar-track-y,
.scrollbar-thumb-y {
  width: 5px !important;
}

.scrollbar-track-x,
.scrollbar-thumb-x {
  height: 5px !important;
}

.scrollbar-thumb {
  border-radius: 0 !important;
}

.scrollbar-track {
  background: rgba(222, 222, 222, 0.15) !important;
}

.scrollbar-thumb {
  border-radius: 0 !important;
  background: rgba(0, 0, 0, 0.5) !important;
}

.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow:after,
.ant-popover-placement-bottomLeft
  > .ant-popover-content
  > .ant-popover-arrow:after,
.ant-popover-placement-bottomRight
  > .ant-popover-content
  > .ant-popover-arrow:after,
.ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow:after,
.ant-popover-placement-topLeft
  > .ant-popover-content
  > .ant-popover-arrow:after,
.ant-popover-placement-topRight
  > .ant-popover-content
  > .ant-popover-arrow:after {
  left: 0;
  margin-left: -4px;
}

/********** Add Your Global RTL CSS Here **********/

/* Popover */

html[dir="rtl"] .ant-popover {
  text-align: right;
}

/* Ecommerce Card */

html[dir="rtl"] .isoCardInfoForm .ant-input {
  text-align: right;
}

/* Modal */

html[dir="rtl"] .has-success.has-feedback:after,
html[dir="rtl"] .has-warning.has-feedback:after,
html[dir="rtl"] .has-error.has-feedback:after,
html[dir="rtl"] .is-validating.has-feedback:after {
  left: 0;
  right: auto;
}

html[dir="rtl"] .ant-modal-close {
  right: inherit;
  left: 0;
}

html[dir="rtl"] .ant-modal-footer {
  text-align: left;
}

html[dir="rtl"] .ant-modal-footer button + button {
  margin-left: 0;
  margin-right: 8px;
}

html[dir="rtl"] .ant-confirm-body .ant-confirm-content {
  margin-right: 42px;
}

html[dir="rtl"] .ant-btn > .anticon + span,
html[dir="rtl"] .ant-btn > span + .anticon {
  margin-right: 0.5em;
}

html[dir="rtl"] .ant-btn-loading span {
  margin-left: 0;
  margin-right: 0.5em;
}

html[dir="rtl"]
  .ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline) {
  padding-left: 25px;
  padding-right: 29px;
}

html[dir="rtl"]
  .ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline)
  .anticon {
  margin-right: -14px;
  margin-left: 0;
}

/* Confirm */

html[dir="rtl"] .ant-modal.ant-confirm .ant-confirm-body > .anticon {
  margin-left: 16px;
  margin-right: 0;
  float: right;
}

html[dir="rtl"] .ant-modal.ant-confirm .ant-confirm-btns {
  float: left;
}

/* .ant-picker + .ant-picker {
  margin-left: 10px;
} */

html[dir="rtl"] .ant-modal.ant-confirm .ant-confirm-btns button + button {
  margin-right: 10px;
  margin-left: 0;
}

/* Message */

html[dir="rtl"] .ant-message .anticon {
  margin-left: 8px;
  margin-right: 0;
}

/* Pop Confirm */

html[dir="rtl"] .ant-popover-message-title {
  padding-right: 20px;
  padding-left: 0;
}

html[dir="rtl"] .ant-popover-buttons {
  text-align: left;
}

/* Notification */

html[dir="rtl"]
  .ant-notification-notice-closable
  .ant-notification-notice-message {
  padding-left: 24px;
  padding-right: 0;
}

html[dir="rtl"]
  .ant-notification-notice-with-icon
  .ant-notification-notice-message,
html[dir="rtl"]
  .ant-notification-notice-with-icon
  .ant-notification-notice-description {
  margin-right: 48px;
}

html[dir="rtl"] .ant-notification-notice-close {
  right: auto;
  left: 16px;
}

html[dir="rtl"] .ant-notification-notice-with-icon {
  left: 0;
}

/* Dropzone */

html[dir="rtl"] .dz-hidden-input {
  display: none;
}

/* modal */
.sub-modal__confirm {
  color: red !important;
}
/* tree antd */
.ant-tree-checkbox-disabled .ant-tree-checkbox-inner {
  display: none !important;
}
.ant-tree-title {
  /* background: #fff; */
  position: absolute;
  z-index: 10;
}
.menu-topbar ul {
  display: grid;
  grid-template-columns: auto;
  max-height: 100%;
  overflow: scroll;
}
.menu-topbar_SubMenuInline ul {
  display: grid;
  grid-template-columns: auto auto !important;
}
.popupSubMenuInline .ant-menu {
  background: #fff !important;
}
/* .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #e8e7e7 !important;
} */

.ant-menu::before {
  display: none !important;
}
.action-btn .anticon {
  font-size: 20px;
}
.action-btn .anticon + .anticon {
  margin-left: 10px;
}
/* .ant-tree-treenode,.ant-tree-node-content-wrapper {
  width: 100%;
} */
.ant-tree-node-content-wrapper {
  position: static !important;
}
.center-horizontal {
  display: flex !important;
  align-items: center !important;
}
.ant-table-wrapper {
  overflow-x: hidden !important;
}
/* .ant-menu-submenu-expand-icon,
.ant-menu-submenu-arrow {
  color: black !important;
} */
/* .ant-form-item-label {
  display: flex !important;
  align-items: center !important;
}
.ant-form-item-control > div:nth-child(2) {
  width: 100% !important;
    z-index: 9999 !important;
    position: absolute !important;
    bottom: -13px !important;
}
 */

/* .ant-tree-title {
  width: 100px;
} */
/* .ant-tree-node-content-wrapper {
  min-width: 100px;
} */
/* .ant-menu-submenu-popup {
  left: 50% !important;
    transform: translateX(-50%) !important;
} */

/* .sub-btn__confirms .ant-btn,.ant-btn-primary {
  background: #fff;
  color: rgba(0, 0, 0, 0.5);
  border: rgba(0, 0, 0, 0.5);
  cursor: no-drop;
  position: relative;
}
.sub-btn__confirms .ant-btn,.ant-btn-primary:hover{
  background: #fff;
  color: rgba(0, 0, 0, 0.5);
  border: rgba(0, 0, 0, 0.5);
  cursor: no-drop;
  position: relative;

} */
/* .sub-btn__confirms .ant-modal-confirm-btns button.ant-btn-primary:disabled {
  background: #fff;
  color: rgba(0, 0, 0, 0.5) !important;
  border: rgba(0, 0, 0, 0.5) !important;
  cursor: no-drop;
  position: relative;
} */

.wrapper-app_router > div {
  height: 100%;
}

.modal-footer__grey {
  max-width: 99% !important;
}
.modal-footer__grey .ant-modal-footer {
  background: #ededed;
  text-align: center;
}

/* .ant-form-item .ant-form-item-label > label::after {
  content: ':' !important;
} */

.popupSubMenuInline__pointer {
  position: absolute;
  z-index: 999999999;
  clip-path: polygon(50% 0%, 50% 56%, 50% 100%, 0% 50%);
  transition: ease-in-out 0.8s cubic-bezier(0.2, 0, 0, 1) 0s;
  /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
  width: 20px;
  height: 20px;
  left: 78px;
  background-color: #fff;
}

:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-dark:not(
    .ant-menu-horizontal
  )
  .ant-menu-submenu-title:hover {
  background: transparent !important;
}
:where(.css-1n7nwfa).ant-menu-dark:not(.ant-menu-horizontal)
  .ant-menu-submenu-title:active {
  background: transparent !important;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-dark:not(
    .ant-menu-horizontal
  )
  .ant-menu-item:not(.ant-menu-item-selected):hover {
  background: transparent;
}
.ant-menu-inline-collapsed-tooltip {
  display: none;
}
:where(.css-dev-only-do-not-override-1e3x2xa).ant-menu-dark:not(
    .ant-menu-horizontal
  )
  .ant-menu-submenu-title:active,
:where(.css-dev-only-do-not-override-1e3x2xa).ant-menu-dark
  > .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-submenu-title:active {
  background: transparent;
}
:where(.css-dev-only-do-not-override-1e3x2xa).ant-menu-dark
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1e3x2xa).ant-menu-dark
  > .ant-menu
  .ant-menu-item-selected {
  background: transparent;
}
:where(.css-dev-only-do-not-override-1e3x2xa).ant-menu-dark:not(
    .ant-menu-horizontal
  )
  .ant-menu-item:not(.ant-menu-item-selected):active,
:where(.css-dev-only-do-not-override-1e3x2xa).ant-menu-dark
  > .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-item:not(.ant-menu-item-selected):active {
  background: transparent;
}
:where(.css-dev-only-do-not-override-1e3x2xa).ant-menu-dark:not(
    .ant-menu-horizontal
  )
  .ant-menu-item:not(.ant-menu-item-selected):hover,
:where(.css-dev-only-do-not-override-1e3x2xa).ant-menu-dark
  > .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-item:not(.ant-menu-item-selected):hover {
  background: transparent;
}
:where(.css-dev-only-do-not-override-1e3x2xa).ant-menu-dark:not(
    .ant-menu-horizontal
  )
  .ant-menu-submenu-title:hover,
:where(.css-dev-only-do-not-override-1e3x2xa).ant-menu-dark
  > .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-submenu-title:hover {
  background: transparent;
}

.popupSubMenuInline {
  background: transparent;
  position: fixed;
  width: auto;
  top: 60px !important;
  /* background: #fff; */
}

.popupSubMenuInline > ul {
  position: relative;
  width: 98%;
  float: right;
  /* box-shadow: none !important; */
}

.popupSubMenuInline::after {
  top: var(--menu-top);
  position: absolute;
  width: 30px;
  left: -7px;
  height: 17px;
  background: #fff;
  clip-path: polygon(50% 0%, 50% 51%, 50% 100%, 0% 50%);
}
/* .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: transparent !important;
} */

.filter-iframe {
  text-align: center;
  padding: 10px;
  box-shadow: 3px 1px 6px;
  background: #ededed;
  margin-bottom: 20px;
}

.ant-layout-footer {
  /* font-size: 13px; */
  /* z-index: 99; */
  /* position: fixed; */
  /* bottom: 0; */
  /* left: auto; */
  /* right: 0; */
  /* text-align: center;
  display: flex;
  justify-content: center; */
  width: 100%;
}

.center-modal__footer .ant-modal-footer {
  text-align: center;
}

/* .center-modal__footer  */
.ant-modal-footer button {
  height: 30px !important;
  min-width: 100px !important;
}

.btn-danger {
  background: #d9001b !important;
  color: #fff !important;
  border: none !important;
}

:where(.css-dev-only-do-not-override-htwhyh).ant-table-wrapper
  .ant-table-tbody
  > tr.ant-table-row:hover
  > th,
:where(.css-dev-only-do-not-override-htwhyh).ant-table-wrapper
  .ant-table-tbody
  > tr.ant-table-row:hover
  > td,
:where(.css-dev-only-do-not-override-htwhyh).ant-table-wrapper
  .ant-table-tbody
  > tr
  > th.ant-table-cell-row-hover
  > td.ant-table-cell-row-hover {
  background: initial !important;
}

:where(.css-dev-only-do-not-override-htwhyh).ant-table-wrapper table {
  border-collapse: collapse !important;
  border-radius: 0 !important;
}

:where(.css-dev-only-do-not-override-htwhyh).ant-table-wrapper
  .ant-table-tbody
  > tr.ant-table-row-selected
  > th,
:where(.css-dev-only-do-not-override-htwhyh).ant-table-wrapper
  .ant-table-tbody
  > tr.ant-table-row-selected
  > td {
  background: initial !important;
}

.ant-table-expanded-row-fixed {
  border-right: 1px solid;
}

:where(.css-dev-only-do-not-override-htwhyh).ant-table-wrapper
  table
  tr
  th.ant-table-selection-column,
:where(.css-dev-only-do-not-override-htwhyh).ant-table-wrapper
  table
  tr
  td.ant-table-selection-column {
  padding-inline-end: 5px !important;
  padding-inline-start: 5px !important;
}
.ant-table-header > table:first-child {
  border-collapse: collapse !important;
}
.ant-table-thead {
  border-collapse: collapse !important;
}

:where(.css-htwhyh).ant-table-wrapper
  .ant-table-tbody
  > tr.ant-table-row:hover
  > th,
:where(.css-htwhyh).ant-table-wrapper
  .ant-table-tbody
  > tr.ant-table-row:hover
  > td,
:where(.css-htwhyh).ant-table-wrapper
  .ant-table-tbody
  > tr
  > th.ant-table-cell-row-hover
  > td.ant-table-cell-row-hover {
  background: initial !important;
}
.box-file {
  max-height: 300px;
  overflow: auto;
}
.box-file table {
  width: 100%;
}

.box-file table {
  border-collapse: collapse;
}
.box-file table thead th {
  text-align: left;
}
.box-file table thead {
  position: sticky;
  top: -1px;
  background: #fff;
  box-shadow: inset 0px -1px 1px #d7d7d7, inset 0px 2px 0px #d7d7d7;
  z-index: 99;
}
.box-file table th,
.box-file table td {
  border: 1px solid #d7d7d7;
  padding: 5px;
}

.wrapper-btns {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

:where(.css-dev-only-do-not-override-htwhyh).ant-menu-light:not(
    .ant-menu-horizontal
  )
  .ant-menu-item:not(.ant-menu-item-selected):hover,
:where(.css-dev-only-do-not-override-htwhyh).ant-menu-light
  > .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-item:not(.ant-menu-item-selected):hover {
  background: none;
}
.file {
  flex-wrap: wrap;
}
.justifyEnd {
  justify-content: end !important;
}
.progress-end {
  /* justify-content: end !important; */
}
/* .ant-form-item-explain-error */

.table-action {
  border-collapse: collapse;
}
.table-action td,
th {
  border: 1px solid;
  padding: 10px;
}

.ant-input-group {
  height: 35px;
  display: flex;
}
.ant-input-group input {
  height: 100%;
}

.ant-input-group-addon button {
  height: 100%;
}

.ant-table-cell .ant-switch {
  border-radius: 10px;
}

.ant-table-wrapper {
  height: 100%;
}

.ant-input-affix-wrapper {
  height: 100%;
}

.ant-table-header .ant-table-thead .ant-table-selection .ant-checkbox-wrapper {
  justify-content: center;
}

.ant-select-dropdown {
  position: fixed;
}
.menu-content {
  display: flex;
  justify-content: center;
}
/* .ant-dropdown-menu-item {
  background: #fff !important;
} */

.ant-input-group-addon button {
  height: 100% !important;
}

.parent-merge {
  width: 100px;
}
.customize_table {
  position: relative;
}
.customize_table::after {
  position: absolute;
  content: "";
  width: 100%;
  left: -1px;
  right: 0;
  height: 100%;
  background: #fff;
}

.img-crop-modal .ant-modal-content {
  padding: 0;
}
.img-crop-modal .ant-modal-body,
.img-crop-modal .ant-modal-footer,
.img-crop-modal .ant-modal-title {
  padding: 10px;
}
:where(.css-cg4vza).ant-table-wrapper .ant-table {
  background: transparent;
}
:where(.css-cg4vza).ant-table-wrapper .ant-table-thead > tr > th,
:where(.css-cg4vza).ant-table-wrapper .ant-table-thead > tr > td {
  position: relative;
  color: #c5c2c2;
  font-weight: 600;
  text-align: start;
  background: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  transition: background 0.2s ease;
}
:where(.css-dev-only-do-not-override-cg4vza).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-cg4vza).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  position: relative;
  color: #c5c2c2;
  font-weight: 600;
  text-align: start;
  background: transparent;
  border-bottom: 1px solid #f0f0f0;
  transition: background 0.2s ease;
}
:where(.css-cg4vza).ant-table-wrapper table {
  width: 100%;
  text-align: start;
  border-radius: 8px 8px 0 0;
  border-collapse: collapse;
  border-spacing: 0;
}
:where(.css-dev-only-do-not-override-cg4vza).ant-image {
  position: relative;
  display: block;
}
.ant-modal-confirm .ant-modal-confirm-btns .ant-btn + .ant-btn {
  background: #1677ff;
}
:where(.css-dev-only-do-not-override-cg4vza).ant-menu-light:not(
    .ant-menu-horizontal
  )
  .ant-menu-item:not(.ant-menu-item-selected):hover,
:where(.css-dev-only-do-not-override-cg4vza).ant-menu-light
  > .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-item:not(.ant-menu-item-selected):hover {
  background-color: rgba(255, 107, 0, 0.08) !important;
  color: #ff6b00;
}
/* .ant-menu-submenu-title :hover {
  background-color: rgba(255, 107, 0, 0.08) ;
} */
:where(.css-dev-only-do-not-override-cg4vza).ant-menu-inline.ant-menu-root
  .ant-menu-submenu-title
  > .ant-menu-title-content
  :hover {
  background-color: transparent !important;
  color: #ff6b00;
}
:where(.css-dev-only-do-not-override-cg4vza)
  .ant-menu
  .ant-menu-submenu-inline.parent-menu__item:hover
  > div {
  background-color: rgba(255, 107, 0, 0.08) !important;
  color: #ff6b00;
}
:where(.css-dev-only-do-not-override-cg4vza).ant-layout-header {
  height: 64px;
  padding: 0 20px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 64px;
  background: #001529;
}
.isomorphicSidebar .ant-menu-submenu-inline > .ant-menu-submenu-title,
.edfafv
  .isomorphicSidebar
  .ant-menu-submenu-vertical
  > .ant-menu-submenu-title {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 50px;
}
.isomorphicSidebar .ant-menu-submenu-inline > .ant-menu-submenu-title,
.edfafv
  .isomorphicSidebar
  .ant-menu-submenu-vertical
  > .ant-menu-submenu-title {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 50px;
}
.ant-menu
  .ant-menu-submenu-inline.parent-menu__item.ant-menu-submenu-selected
  > div,
.ant-menu
  .ant-menu-submenu-inline.parent-menu__item.ant-menu-submenu-active
  > div {
  background-color: rgba(255, 107, 0, 0.08) !important;
  color: #ff6b00 !important;
  border-left: 3px solid #ff6b00 !important;
}

